<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="grid">
    <div class="col-6 md-6 sm-9">
        <p>
            <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
                Saludos {{nombre}}, es un placer 
                {{genero | i18nSelect:invitacionMapa}} al evento friden.
                <hr>
                <button pButton label="Cambiar cliente" (click)="cambiarPersona()" class="p-button-warning"></button>
            </p-fieldset>
        </p>
        
    </div>
    <div class="col-6 md-6 sm-9">
        <p>
            <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
                Actualmente, {{clientes.length | i18nPlural:clientesMapa}}.
                <hr>
                <button pButton label="Borrar cliente" (click)="borrarCliente()" class="p-button-danger"></button>
            </p-fieldset>
        </p>
    </div>
</div>